<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <title>@ViewData["Title"] - Home page</title>

    <style>
        html, body {
        
            font-family: 'Sofia';
        

            height: 80%;
        }

        img.two {
            height: 80%;
            width: 100%;
        }
        
    </style>
</head>
<body>
    <h1>Dance studio</h1>
    <img class="two" src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAnqAAAAJDFhOGJjNzE0LTE5NWQtNGQwMy05NjQwLTc3OTQ5MzVjY2M2Mw.jpg" width="600" height="300">

</body>
</html>
